body {
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title-logo{
    background: url("anatomy-logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 490px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.home-text {
    font-family: "DanielBold";
    font-size: 50px;
    text-align: center;
    display: block;
    padding-top: 150px;
}

.start-now {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 150px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
}

.button-choice {
    background:none!important;
    border:none; 
    padding:0!important;
    font-family: "Daniel";
    display: block;
    margin: auto;
    font-size: 30px;
}

h1 {
    font-family: "Daniel";
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.submit {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 75px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    padding-top: 7px;
}

.error {
    font-family: "DanielBold";
    display: block;
    margin: auto;
    padding-top: 15px;
    width: 300px;
}

.correct, .incorrect {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 50px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 50px;
}