
.title-logo{
    height: 250px;
    width: 490px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.anatomy{
    height: 250px;
    width: 490px;
}

.home-text {
    font-family: "DanielBold";
    font-size: 50px;
    text-align: center;
    display: block;
    padding-top: 150px;
}

.start-now {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 150px;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
}

.start-now:hover { 
    cursor: pointer;
 }

.button-choice {
    background:none!important;
    border:none; 
    padding:0!important;
    font-family: "Daniel";
    display: block;
    margin: auto;
    font-size: 30px;
    outline: none;
}


.button-choice:hover { 
    cursor: pointer;
 }

 .a, .b, .c, .d{
    color: blue;
    background:none!important;
    border:none; 
    padding:0!important;
    font-family: "Daniel";
    display: block;
    margin: auto;
    font-size: 30px;
    outline: none;
 }

 

h1 {
    font-family: "Daniel";
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

h2 {
    font-family: "Daniel";
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
h3 {
    font-family: "DanielBold";
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
}

h4 {
    font-family: "DanielBold";
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.submit {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 75px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    padding-top: 7px;
}

.submit:hover { 
    cursor: pointer;
 }

.form-submit {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 55px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    margin-top: 7px;
    padding-top: 7px;
}

.form-submit:hover { 
    cursor: pointer;
 }

.error {
    font-family: "DanielBold";
    display: block;
    margin: auto;
    padding-top: 15px;
    width: 300px;
}

.correct, .incorrect {
    background: url("button.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: "DanielBold";
    height: 50px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 50px;
}

.spread1{
    background: url("spread2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

.spread2{
    background: url("spread1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.email-form {
    font-family: "Daniel";
    padding-right: 10px;
    display: inline-block;
    margin: auto;
    width: 100%;
}

.email-text {
    width: 335px;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.email {
    position: relative;
    bottom: 5px;
    display: inline-block;
    border: none;
    display: inline;
    font-family: "Danielbold";
    font-size: inherit;
    padding-left: 15px;;
    background: inherit;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
}

.email-div{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 450px;
}

@media only screen and (max-width: 700px) {

    .title-logo{
        height: 120px;
        width: 230px;
    }

    .anatomy{
        height: 120px;
        width: 230px;
    }

    .start-now {
        height: 70px;
        width: 150px;
        font-size: 20px;
        padding-top: 10px;
    }

    .form-submit {
        height: 55px;
        width: 100px;
        font-size: 20px;
    }

    .submit {
        height: 55px;
        width: 100px;
        font-size: 20px;
    }

    .home-text{
        font-size: 25px;
    }

    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 30px;
    }

    .button-choice {
        background:none!important;
        border:none; 
        padding:0!important;
        font-family: "Daniel";
        display: block;
        margin: auto;
        font-size: 20px;
        outline: none;
    }

    .correct, .incorrect {
        height: 50px;
        width: 175px;
        font-size: 20px;
    }

    .spread1{
        background: url("spread2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .spread2{
        background: url("spread1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 225px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    }

